.event {
  display: grid;
  grid-row-gap: var(--base-content-spacing);
}
.event h1, .event h2 {
  margin-bottom: 0;
}
.event h2
.event-image {
  margin-bottom: var(--content-spacing-lg);
  text-align: left;
}
.event .date {
  font-weight: 600;
}
.event .location {
  font-style: italic;
}

/* Speakers */
.event .speakers {
  border-top: 1px dashed #ccc;
  padding-top: var(--base-content-spacing);
}
.event .speakers ul {
  display: grid;
  grid-template-columns: none;
  grid-column-gap: var(--content-spacing-lg);
  grid-row-gap: var(--base-content-spacing);
}
@media screen and (min-width: 45em) {
  .event .speakers ul {
    grid-template-columns: repeat(2, 1fr);
  }
}
.event .speakers .person {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-column-gap: var(--content-spacing-md);
  grid-row-gap: var(--content-spacing-xs);
}
.event .speakers .person .headshot {
  max-width: 200px;
  min-width: 150px;
  grid-row: 1 / 3;
  font-size: small;
  background-color: #f9f9f9;
}
.event .speakers .person .name {
  font-weight: 600;
  grid-row: 1 / 2;
}
.event .speakers .person .details {
  font-size: smaller;
  grid-row: 2 / 3;
}
.event .speakers .person .title {
  font-style: italic;
}
.event .speakers .person .title::after {
  content: "";
  clear: both;
  display: table;
}
.event .speakers .person .details .dept::after,
.event .speakers .person .details .institution::after {
  content: ", "
}
.event .speakers .person .details span:not(.title):last-of-type::after {
  content: none;
}
.event .speaker-bio {
  grid-column: 1 / 3;
  font-size: 0.9rem;
  margin-top: var(--base-content-spacing);
  padding-top: var(--base-content-spacing);
  border-top: 1px dashed var(--color-gray-lt);
}
.event .speakers a,
.event .speakers a:hover,
.event .speakers a:active {
  border-bottom-width: 0;
}