.event {
  display: grid;
  grid-row-gap: 1rem;
}
.event h2 {
  margin-bottom: 1.0rem;
}
.event-image {
  margin-bottom: 2rem;
  text-align: left;
}
.event .date {
  font-weight: 600;
}
.event .location {
  font-style: italic;
}

/* Speakers */
.speakers {
  border-top: 1px dashed #ccc;
  padding-top: 1rem;
}
.speakers ul {
  display: grid;
  grid-template-columns: none;
  grid-column-gap: 2rem;
  grid-row-gap: 1rem;
}
@media screen and (min-width: 45em) {
  .speakers ul {
    grid-template-columns: repeat(2, 1fr);
  }
}
.speakers .person {
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: repeat(auto-fill);
  grid-column-gap: 1.5rem;
  grid-row-gap: 0.25rem;
}
.speakers .person .headshot {
  max-width: 200px;
  grid-row: 1 / 3;
}
.speakers .person .name {
  font-weight: 600;
  grid-row: 1 / 2;
}
.speakers .person .details {
  font-size: smaller;
  grid-row: 2 / 3;
}
.speakers .person .bio {
  grid-column: 1 / 3;
  font-size: 0.9rem;
}

.speakers a,
.speakers a:hover,
.speakers a:active {
  border-bottom-width: 0;
}