#main-content section.event {
  display: grid;
  grid-template-columns: 100%;
  grid-template-areas: 
    "header"
    "content"
    "sidebar";
  grid-row-gap: var(--content-spacing-md);
  grid-column-gap: var(--content-spacing-lg);
  align-items: flex-start;
  align-content: flex-start;
}
@media screen and (min-width: 45em) {
  #main-content section.event {
    grid-template-columns: calc(100% - 23% - 4rem) 1fr;
    grid-template-areas: 
      "header header"
      "content sidebar";
  }
}
.event .header {
  grid-area: header;
  padding-bottom: var(--content-spacing-md);
  border-bottom: 1px solid var(--color-gray-lt);
}
.event h1 {
  margin-bottom: 0;
}
.event h2 {
  margin-bottom: var(--base-content-spacing);
}
.event-image {
  margin-bottom: var(--content-spacing-lg);
  text-align: left;
}
.event .content {
  grid-area: content;
  display: grid;
  grid-row-gap: var(--content-spacing-md);
}
.event .content .speakers, 
.event .content .description, 
.event .content .bios,
.event .content .metadata,
.event .content .video {
  align-self: start;
}
.event .content .event-date {
  font-weight: 600;
}
.event .content .start .time::before {
  content: " \00A0 | \00A0"
}
.event .content .end::before {
  content: " \2013 \00A0 ";
}
.event .content .end .time {
  white-space: nowrap;
}
.event .content .location {
  font-style: italic;
}
.event .content .description p:last-child {
  margin-bottom: 0;
}
/* Sidebar */
.event .sidebar {
  grid-area: sidebar;
  display: grid;
  grid-row-gap: var(--content-spacing-md);
}
.event .sidebar .pill {
  background-color: var(--color-gray-dk);
}
.event .sidebar .disciplines li,
.event .sidebar .methods li {
  display: inline-block;
  text-transform: unset;
  font-weight: normal;
  margin: 0 0 var(--content-spacing-xs) var(--content-spacing-xs);
  padding: 3px 10px 5px;
  background-color: var(--color-gray-dk);
}
.event .sidebar .sponsors .internal:not(#umdlib)::before,
.event .sidebar .partners .internal:not(#umdlib)::before {
  content: "University of Maryland ";
}
/* Speakers */
.event .speakers {
  display: grid;
  grid-template-columns: none;
  grid-column-gap: var(--content-spacing-lg);
  grid-row-gap: var(--base-content-spacing);
  align-items: start;
  padding: var(--base-content-spacing) 0;
}
.event .speakers .person {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-areas: 
    "headshot"
    "details"
    "bio";
  grid-column-gap: var(--content-spacing-md);
  grid-row-gap: var(--content-spacing-xs);
}
@media screen and (min-width: 45em) {
  .event .speakers {
    grid-template-columns: repeat(2, 1fr);
  }
  .event .speakers .person {
    grid-template-areas: 
      "headshot details"
      "bio bio";
    grid-template-rows: max-content;
    align-items: start;
  }
  .event .speakers .person:not(.has-headshot) {
    grid-template-areas: 
      "details"
      "bio";
  }
  .event .speakers .person .headshot {
    margin-bottom: 0;
  }
}
.event .speakers .person .headshot {
  grid-area: headshot;
  align-self: start;
  max-width: 200px;
  min-width: 150px;
  font-size: small;
  background-color: #f9f9f9;
  margin-bottom: var(--content-spacing-sm);
}
.event .speakers .person .details {
  grid-area: details;
}
.event .speakers .person .name {
  font-weight: 600;
  line-height: 1;
  margin-bottom: var(--content-spacing-sm);
}
.event .speakers .person .info {
  font-size: smaller;
  display: block;
}
.event .speakers .person .title {
  font-style: italic;
}
.event .speakers .person .title::after {
  content: "";
  clear: both;
  display: table;
}
.event .speakers .person .info .dept::after,
.event .speakers .person .info .institution::after {
  content: ", "
}
.event .speakers .person .info span:not(.title):last-of-type::after {
  content: none;
}
.event .speakers a,
.event .speakers a:hover,
.event .speakers a:active {
  border-bottom-width: 0;
}
.event .speakers .person .bio {
  grid-area: bio;
  padding-top: var(--content-spacing-sm);
  font-size: 0.9rem;
}