.page-person > h1 {
  grid-column: 3 / 9;
}
.page-person .person {
  display: grid;
  grid-template-columns: repeat( 3, 1fr);
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
}
.page-person .person .name {
  grid-column: 1 / 4;
  margin-bottom: 0;
}
.page-person .person .headshot {
  grid-column: span 1;
  grid-row: span 2;
}
.page-person .person .details {
  grid-column: span 2;
}
.page-person .person .metadata {
  display: inline-grid;
  grid-template-columns: repeat( 4, auto );
  margin-top: 1rem;
}
.page-person .person .metadata a {
  color: inherit;
  border-bottom-color: transparent;
}
.page-person .person .meta {
  padding: 0 1rem;
  text-align: center;
  border-left: 1px solid #dfdfdf;
}
.page-person .person .meta:first-child {
  border-left: none;
  padding-left: 0;
}
.page-person .person .meta svg {
  margin-right: 0.5rem;
}
.page-person .person .bio {
  grid-column: span 2;
}