.page-person > h1 {
  grid-column: 2 / 12;
}
.headshot {
  max-width: 300px;
  grid-row-end: span 3;
}
.metadata {
  display: inline-grid;
  grid-template-columns: repeat( 4, auto );
  grid-row-gap: 0.5rem;
}
.metadata a {
  color: inherit;
}
.meta {
  padding: 0 1rem;
  text-align: center;
  border-left: 1px solid #dfdfdf;
}
.meta:first-child {
  border-left: none;
  padding-left: 0;
}
.meta svg {
  margin-right: 0.25rem;
}
