.page-person .person .name {
  grid-column: 1 / 4;
}
.page-person .person .headshot {
  grid-column: span 1;
  grid-row: span 2;
  margin-bottom: var(--base-content-spacing);
}
.page-person .person .details {
  grid-column: span 2;
}
.page-person .person .metadata {
  display: inline-grid;
  grid-template-columns: repeat( 4, auto );
  margin: var(--base-content-spacing) 0;
}
.page-person .person .metadata a {
  color: inherit;
  border-bottom-color: transparent;
}
.page-person .person .meta {
  padding: 0 var(--base-content-spacing);
  text-align: center;
  border-left: 1px solid #dfdfdf;
}
.page-person .person .meta:first-child {
  border-left: none;
  padding-left: 0;
}
.page-person .person .meta svg {
  margin-right: 0.5rem;
}
.page-person .person .bio {
  grid-column: span 2;
}

/* display in columns on medium screens */
@media screen and (min-width: 45em) {
  .page-person section.person {
    display: grid;
    grid-template-columns: repeat( 3, 1fr);
    grid-column-gap: var(--content-spacing-lg);
    grid-row-gap: var(--content-spacing-md)
  }
  .page-person .person .name,
  .page-person .person .metadata {
    margin-bottom: 0;
  }
}