.people-group {
  margin-bottom: 3rem;
}
.people-group span {
  display: inline-block;
  font-size: 90%;
  line-height: 1.5;
  margin-bottom: 0.1rem;
}
.people-group .person {
  margin-bottom: 1.5rem;
}
.people-group .person .name {
  margin-bottom: 0.5rem;
  margin-top: 1rem;
}
.people-group .person .title {
  line-height: 1.5;
  font-family: var(--font-stack);
  font-style: italic;
  letter-spacing: 1px;
}
.people-group .person .name a {
  color: inherit;
}