@import 'variables.css';

footer {
  background-color: #282a2b;
  border-color: #4b4c4d;
  color: #8c8989;
  font-size: 0.789rem;
  padding: 0 var(--base-content-padding);
}
footer a {
  color: #bfbfbf;
}
footer a:hover,
footer a:active {
  color: #ffffff;
}
