@import 'variables.css';

.outerWrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
  grid-gap: var(--base-content-spacing);
  grid-template-areas: 
    "header"
    "nav"
    "page-content"
    "footer";
}
header {
  grid-area: header;
}
nav {
  grid-area: nav;
}
main {
  grid-area: page-content;
}
footer {
  grid-area: footer;
}

/* Media queries for grid layouts */
/* medium to large screens */
@media screen and (min-width: 45em) {
  .page-people > section,
  .page-past-people > section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: var(--content-spacing-lg);
  }
  .page-people > section > h2,
  .page-past-people > section > h2 {
    grid-column: 1 / 3;
  }
}
/* large screens */
@media screen and (min-width: 61em) {
  header,
  nav,
  footer,
  #main-content .page-home,
  #main-content .page-people,
  #main-content .page-past-people,
  #main-content .page-news,
  #main-content .page-research,
  #main-content .page-events {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-gap: var(--base-content-spacing);
  }
  .logo,
  .navbar,
  .leader,
  .small-print,
  #main-content > div section,
  section.person {
    grid-column: 2 / 9;
  }
  .pagination {
    grid-column: 2 / 9;
  }
  .page-people > section,
  .page-past-people > section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column: 2 / 9;
    grid-column-gap: var(--content-spacing-lg);
    grid-row-gap: var(--content-spacing-md);
  }
  .page-people > section > h2, 
  .page-past-people > section > h2 {
    grid-column: 1 / 4;
  }
}
/* x-large screens */
@media screen and (min-width: 67em) {
  header,
  nav,
  footer,
  #main-content .page-home,
  #main-content .page-people,
  #main-content .page-past-people,
  #main-content .page-news,
  #main-content .page-research,
  #main-content .page-events {
    display: block;
  }
  .logo,
  .navbar,
  .leader,
  .small-print,
  #main-content > div section,
  section.person {
    grid-column: none;
    max-width: 1080px;
    margin: 0 auto;
  }
  #main-content > div section.people-group {
    margin-bottom: var(--content-spacing-xl);
  }
}