.outerWrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
    grid-gap: 1rem;
    grid-template-areas: 
        "header"
        "nav"
        "page-content"
        "footer";
}
header {
    grid-area: header;
}
nav {
    grid-area: nav;
}
main {
    grid-area: page-content;
}
footer {
    grid-area: footer;
}
/* Media queries for grid layouts */
@media screen and (min-width: 45em) {
    .page-people > section {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .page-people > section > h1 {
        grid-column: 1 / 3;
    }
}
@media screen and (min-width: 61em) {
    header,
    nav,
    footer,
    .page-home,
    .page-people,
    .page-news,
    .post {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: 1rem;
    }
    .logo,
    .navbar,
    .small-print,
    .leader,
    .news,
    .post-title,
    .post-meta,
    .post-content {
        grid-column: 2 / 10;
    }
    .pagination {
        grid-column: 2 / 12;
    }
    .page-people > section {
        display: grid;
        grid-column: 2 / 12;
        grid-template-columns: repeat(3, 1fr);
    }
    .page-people > section > h1 {
        grid-column: 1 / 4;
    }
}