.outerWrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
    grid-gap: 1rem;
    grid-template-areas: 
        "header"
        "nav"
        "page-content"
        "footer";
}
header {
    grid-area: header;
}
nav {
    grid-area: nav;
}
main {
    grid-area: page-content;
}
footer {
    grid-area: footer;
}