---
import SkipToContent from "./SkipToContent.astro"
import MenuButton from "./MenuButton.tsx"
import Logo from "./Logo.astro"
import * as CONFIG from "../config"

const { currentPage } = Astro.props
---

<SkipToContent />
<header>
  <div id="page-top" class="header-inner-wrapper">
  
    <!-- <MenuButton client:idle /> -->
    <nav
      id="primary-navigation"
      class="text-xl mx-2 text-mithgray p-4"
      aria-label="primary"
      tabindex="-1"
    >
      <ul class="flex flex-row gap-5" role="list">
        <li class="w-[220px]"><a href="/">
          <Logo/>
        </a></li>
        {CONFIG.MENU.en
          .filter(page => page.group === "main")
          .map(page => (
            <li>
              <a href={page.link}>{page.label}</a>
            </li>
          ))}
      </ul>
    </nav>
  </div>
</header>

