@import 'site-reset.css';
@import 'typography.css';

:root {
  --base-content-width: 35rem;
}
html {
  overflow-y: scroll;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
a:active,
a:hover {
  outline-width: 0;
}
img {
  border-style: none;
}
.innerWrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--base-content-width);
  padding: 0 var(--base-content-padding);
}
li {
  margin-bottom: calc(1rem / 2);
}
li *:last-child {
  margin-bottom: 0;
}
p *:last-child {
  margin-bottom: 0;
}
ol,
ul {
    list-style-position: outside;
    list-style-image: none;
    margin-left: 1rem;
    margin-bottom: 1rem;
}
ul {
  list-style: none;
}
.skip-link {
  color: #ffffff;
  background: #000000;
  display: inline-block;
  font-weight: 700;
  padding: 8px;
  position: fixed;
  top: -100px;
  left: 50%;
  transform: translateX(-100%);
  z-index: 30;
  transition: transform 0.3s;
}
.skip-link:focus {
  top: 2rem;
  outline: 5px solid rgba(0,0,0,0.1);
  transform: translateY(0%);
}
svg:not(:root) {
  overflow: hidden;
}
[hidden] {
  display: none;
}
