@import 'site-reset.css';
@import 'typography.css';
@import 'variables.css';
@import 'grid.css';

html {
  overflow-y: scroll;
}
a {
  color: rgb(183,191,16);
  background-color: transparent;
  text-decoration: none;
  -webkit-text-decoration-skip: objects;
}
a:active,
a:hover {
  color: rgb(164,171,15);
  outline-width: 0;
}
img {
  border-style: none;
}
li {
  margin-bottom: calc(1rem / 2);
}
li *:last-child {
  margin-bottom: 0;
}
main {
  padding: 0 var(--base-content-padding);
}
p *:last-child {
  margin-bottom: 0;
}
ol,
ul {
    list-style-position: outside;
    list-style-image: none;
}
ul {
  list-style: none;
}
.skip-link {
  color: #ffffff;
  background: #000000;
  display: inline-block;
  font-weight: 700;
  padding: 8px;
  position: fixed;
  top: -100px;
  left: 50%;
  transform: translateX(-100%);
  z-index: 30;
  transition: transform 0.3s;
}
.skip-link:focus {
  top: 2rem;
  outline: 5px solid rgba(0,0,0,0.1);
  transform: translateY(0%);
}
svg:not(:root) {
  overflow: hidden;
}
[hidden] {
  display: none;
}
