@import 'variables.css';

nav {
  padding: 0 var(--base-content-padding);
  z-index: 200;
}
nav a {
  padding: 12px 0 8px;
  border-bottom: 3px solid transparent;
  display: block;
  font-size: 16px;
  text-decoration: none;
  font-weight: 600;   
  text-decoration: none;
  text-transform: uppercase;
  color: #777;
}
.navbar {
  display: flex;
  justify-content: flex-start;
  flex: 1 0 100%;
  list-style: none;
}

.navbar-item {
  position: relative;
  margin: 0;
  padding: 0 2rem 0 0;
}

/* header-specific nav styles */
header nav {
  border-top: 1px solid #efefef;
  background-color: #fff;
}
header nav a {
    color: #777;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
}
header nav a:hover, header nav a.active {
  border-bottom-color: rgb(183,191,16);
}
/* footer-specific nav styles */
footer nav {
    margin: 0 auto;
    padding: 0.5rem 0 1rem 0;
}
/* mobile-specific nav styles */
@media (max-width: 52rem) {
  nav ul {
    display: block;
  }
  nav ul li {
    flex: none;
    border-top: 1px dotted #d2d2d2;
  }
  nav ul li:first-child {
    border-top: none;
  }
  footer nav ul li:last-child {
    border-bottom: 1px dotted #d2d2d2;
  }
}