nav {
  z-index: 200;
}
nav a {
  padding: 12px 0 8px;
  border-bottom: 3px solid transparent;
  display: block;
  font-size: 16px;
  text-decoration: none;
  font-weight: 600;   
  text-decoration: none;
  text-transform: uppercase;
  color: #777;
}
nav ul {
  display: flex;
  justify-content: flex-start;
  flex: 1 0 100%;
  list-style: none;
  padding: 0 2rem;
}
nav ul li {
  position: relative;
  margin: 0;
  padding: 0 2rem 0 0;
}
nav li.has-children {
  overflow: hidden;
}
nav li.has-children:hover {
  overflow: visible;
}
/* sub-nav / dropdown styles */
.sub-nav {
  position: absolute;
  left: 0;
  visibility: hidden;
  opacity: 0;
  z-index: 1;
  transition: opacity .2s ease-in;
  box-shadow: 1px 1px 10px rgba(0,0,0,.02);
  min-width: 140px;
  background-color: #f9f9f9;
  border-top: 2px solid #cecece;
}
nav li.has-children:hover .sub-nav {
  display: block;
  visibility: visible;
  opacity: 1;
}
nav .sub-nav li {
  display: block;
  float: none;
}
.sub-nav li a {
  font-weight: normal;
  text-transform: none;
  font-size: 13px;
  padding: 6px 5px;
  border-bottom: 1px solid #cecece;
}
/* header-specific nav styles */
header nav {
  border-top: 1px solid #efefef;
  background-color: #fff;
}
header nav a {
    color: #777;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
}
header nav a:hover, header nav a.active {
  border-bottom-color: rgb(183,191,16);
}
/* footer-specific nav styles */
footer nav {
    margin: 0 auto;
    padding-top: 0.5rem;
    padding-bottom: 1rem;
}
/* mobile-specific nav styles */
@media (max-width: 52rem) {
  nav ul {
    display: block;
  }
  nav ul li {
    flex: none;
    border-top: 1px dotted #d2d2d2;
  }
  nav ul li:first-child {
    border-top: none;
  }
  footer nav ul li:last-child {
    border-bottom: 1px dotted #d2d2d2;
  }
}