.pagination {
    display: flex;
    justify-content: flex-start;
  }
  .pagination > .label {
    grid-column: 1 / 3;
    padding: 0;
    place-self: start;
  }
  .pagination > * {
    padding: 0.2rem 0.3rem;
    border-radius: 0.25rem;
    border: 1px solid transparent;
    place-self: center stretch;
    flex: 1 1 auto;
    text-align: center;
    color: inherit;
    font-weight: 500;
  }
  .pagination .active,
  .pageLink:hover {
    color: rgb(183,191,16);
    background-color: #f1f1f1;
  }