---
import { unified } from 'unified'
import rehypeParse from 'rehype-parse'
import { visit } from 'unist-util-visit'

const { content } = Astro.props

const makeExcerpt = (postBodyHTML, maxLen=300) => {
    const engine = unified().use(rehypeParse, {fragment: true})
    const ast = engine.parse(postBodyHTML)
    
    let allText = ""
    visit(ast, node => node.type === 'text', node => {
        allText += node.value
    })

    if (allText.length <= maxLen) {
        return allText
    }

    // TODO: make this not a dumb hack
    return allText.substring(0, allText.lastIndexOf(".", maxLen))
}
---
<style>
    p {
        margin-top: var(--size-0);
    }

    p::after {
        content: '.'
    }
</style>

<section class="post-excerpt">
    {makeExcerpt(content).length > 0 ? <p>{makeExcerpt(content)}</p> : ""}
</section>