---
import { JSDOM } from 'jsdom';

const { content } = Astro.props
const { document } = new JSDOM(content).window

const makeExcerpt = (content:string) => {
  const { document } = new JSDOM(content).window
  const paragraphs = [...document.querySelectorAll('p')].map(p => p.textContent)

  if (!paragraphs) {
    return null
  } else if (paragraphs[0] && paragraphs[0].length > 0) {
    return paragraphs[0]
  } else {
    return paragraphs[1]
  }
}
---

<section class="excerpt-post">
  {makeExcerpt(content) ? <p>{makeExcerpt(content)}</p> : ""}
</section>

<style>
  p {
    margin-top: var(--size-0);
  }
</style>
