---
import PostExcerpt from "./PostExcerpt.astro"
import { makeAuthorStr } from "../utils/stringHandlers.ts"
import { readableDate } from "../utils/dateHandlers.ts"

const { post } = Astro.props
const { frontmatter } = post
---

<article class="news">
  <header>
    <h2><a href={`/news/${frontmatter.slug}`}>{frontmatter.title}</a></h2>
    <div class="article-meta">
      <a class="author" rel="author">
        {frontmatter.author && frontmatter.author.length > 0
          ? makeAuthorStr(frontmatter.author)
          : ""}
      </a>
      <time datetime={frontmatter.date}
        >{frontmatter.date ? readableDate(frontmatter.date) : ""}</time
      >
    </div>
  </header>
  <!-- <PostExcerpt content={} /> -->
</article>

<style>
  article {
    --flow-space: var(--size-7);
  }

  header a {
    text-decoration: none;
  }

  .author::before {
    content: "by ";
  }

  time::before {
    content: " on ";
  }
</style>
