:root {
  --base-content-width: 37rem;
  --base-content-spacing: 1rem;
  --content-spacing-xl: 3rem;
  --content-spacing-lg: 2rem;
  --content-spacing-md: 1.5rem;
  --content-spacing-sm: 0.5rem;
  --content-spacing-xs: 0.25rem;
  --header-footer-stack: "Departure Mono", var(--font-stack);
  --font-stack: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    sans-serif;
  --color-main: rgb(183, 191, 16);
  --color-main-dk: rgb(164, 171, 15);
  --color-gray: rgb(126, 126, 126);
  --color-gray-lt: rgb(191, 191, 191);
  --color-gray-dk: rgb(63, 63, 63);
}

@font-face {
  font-family: "Departure Mono";
  src: url("../fonts/DepartureMono-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

