---
import RequiredNotices from "./RequiredNotices.astro"
import ContactInfo from "./ContactInfo.astro"
import Logo from "../Logo.astro"
import * as CONFIG from "../../config"
---

<footer class="bg-mithgray text-gray-50 p-5">
  <div class="flex flex-row md:grid md:grid-cols-[1fr_min(55rem,_100%)_1fr]">
    <div class="w-8/12">
      <a href="/"><Logo fill="fill-gray-50" /></a>
    </div>
    <nav class="nav-container">
      <ul role="list">
        {CONFIG.MENU.en
          .filter(page => page.group === "main")
          .map(page => (
            <li>
              <a href={page.link}>{page.label}</a>
            </li>
          ))}
      </ul>
      <ul role="list">
        {CONFIG.MENU.en
          .filter(page => page.group != "main")
          .map(page => (
            <li>
              <a href={page.link}>{page.label}</a>
            </li>
          ))}
      </ul>
    </nav>
    <ContactInfo />
    <RequiredNotices />
  </div>
</footer>
