<section>
  Unless otherwise noted, this site and its contents are copyright &copy; 2005
  &ndash; {new Date().getFullYear()} Maryland Institute for Technology in the Humanities
  and licensed under a <a href="http://creativecommons.org/licenses/by/4.0/"
    >Creative Commons Attribution 4.0 International License</a
  >. &nbsp;|&nbsp; <a href="https://umd.edu/web-accessibility"
    >Web Accessibility</a
  > &nbsp;|&nbsp; <a href="https://umd.edu/privacy-notice">Privacy Notice</a>
</section>

<style>
  section {
    font-size: calc(var(--size-0) / 1.25);
    grid-column: 2;
    padding-top: var(--spacing-larges);
  }

  @media screen and (min-width: 1000px) {
    section {
      font-size: var(--size-0);
      grid-column: 1 / 3;
    }
  }

  @media screen and (min-width: 1440px) {
    section {
      grid-column: 2;
    }
  }
</style>
