---
import HeadCommon from "../components/HeadCommon.astro"
import Header from "../components/Header.astro"
import Footer from "../components/Footer/Footer.astro"
import * as CONFIG from "../config.ts"
import "../styles/global.css"

const { pageContent = {} } = Astro.props
const currentPage = Astro.site.pathname
---

<!DOCTYPE html>
<html lang={CONFIG.SITE.language}>
  <head>
    <meta charset="UTF-8" />
    <title
      >{pageContent.title
        ? `${pageContent.title} | ${CONFIG.SITE.title}`
        : CONFIG.SITE.title}</title
    >
    <HeadCommon />
  </head>
  <body class="min-h-screen">
    <Header {currentPage} />
    <main class="container mx-auto px-5 my-20 break-words">
      <slot />
    </main>
    <Footer />
    <script
      src="https://umd-header.umd.edu/build/bundle.js?search=0&search_domain=&events=0&news=0&schools=0&admissions=0&support=0&support_url=&wrapper=990&sticky=0"
    ></script>
  </body>
</html>
